CREATE DATABASE Web
GO
USE [Web]
GO
/****** Object:  Table [dbo].[chitiethoadon]    Script Date: 6/4/2022 10:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitiethoadon](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[soluong] [int] NOT NULL,
	[id_hoadon] [bigint] NOT NULL,
	[id_sanpham] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chitietsanpham]    Script Date: 6/4/2022 10:09:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietsanpham](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[anhchitiet] [ntext] NOT NULL,
	[id_sanpham] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoadon]    Script Date: 6/4/2022 10:09:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoadon](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[hoten] [nvarchar](191) NOT NULL,
	[sonha] [nvarchar](191) NOT NULL,
	[diachi] [nvarchar](191) NOT NULL,
	[dienthoai] [nvarchar](191) NOT NULL,
	[email] [nvarchar](191) NOT NULL,
	[ghichu] [ntext] NULL,
	[trangthai] [int] NOT NULL,
	[ngaydat] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loaisanpham]    Script Date: 6/4/2022 10:09:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loaisanpham](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tenloai] [nvarchar](191) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanpham]    Script Date: 6/4/2022 10:09:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanpham](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tensanpham] [ntext] NOT NULL,
	[mota] [ntext] NOT NULL,
	[giagoc] [float] NOT NULL,
	[khuyenmai] [int] NOT NULL,
	[anhchinh] [ntext] NOT NULL,
	[tinhtrang] [int] NOT NULL,
	[luotthich] [int] NOT NULL,
	[id_loaisp] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taikhoan]    Script Date: 6/4/2022 10:09:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taikhoan](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tentaikhoan] [nvarchar](191) NOT NULL,
	[email] [nvarchar](191) NOT NULL,
	[matkhau] [nvarchar](191) NOT NULL,
	[phanquyen] [nvarchar](191) NOT NULL,
	[tenhienthi] [nvarchar](191) NOT NULL,
	[hinhanh] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[chitiethoadon] ON 

INSERT [dbo].[chitiethoadon] ([id], [soluong], [id_hoadon], [id_sanpham]) VALUES (1, 1, 1, 3)
INSERT [dbo].[chitiethoadon] ([id], [soluong], [id_hoadon], [id_sanpham]) VALUES (3, 1, 1, 4)
INSERT [dbo].[chitiethoadon] ([id], [soluong], [id_hoadon], [id_sanpham]) VALUES (4, 1, 2, 4)
SET IDENTITY_INSERT [dbo].[chitiethoadon] OFF
GO
SET IDENTITY_INSERT [dbo].[chitietsanpham] ON 

INSERT [dbo].[chitietsanpham] ([id], [anhchitiet], [id_sanpham]) VALUES (15, N'1621389054991conmeo.jpg', 2)
INSERT [dbo].[chitietsanpham] ([id], [anhchitiet], [id_sanpham]) VALUES (16, N'1621389061858conmeo.jpg', 2)
INSERT [dbo].[chitietsanpham] ([id], [anhchitiet], [id_sanpham]) VALUES (45, N'ctsanpham-1.jpg', 1)
SET IDENTITY_INSERT [dbo].[chitietsanpham] OFF
GO
SET IDENTITY_INSERT [dbo].[hoadon] ON 

INSERT [dbo].[hoadon] ([id], [hoten], [sonha], [diachi], [dienthoai], [email], [ghichu], [trangthai], [ngaydat]) VALUES (1, N'Huỳnh Văn Thùy', N'Phường Hòa Hiệp Nam, Quận Liên Chiểu, Thành phố Đà Nẵng', N'Thôn 5 An lâu 1', N'097365528', N'HuynhVan@gmail.com', N'Không có', 3, CAST(N'2018-11-26T02:05:12.0000000' AS DateTime2))
INSERT [dbo].[hoadon] ([id], [hoten], [sonha], [diachi], [dienthoai], [email], [ghichu], [trangthai], [ngaydat]) VALUES (2, N'Huỳnh Văn Thùy', N'Phường Hòa Hiệp Bắc, Quận Liên Chiểu, Thành phố Đà Nẵng', N'Thôn 5 An lâu 1', N'0977977977', N'huynhvanthuy1997@gmail.com', N'giao hàng gấp trong 3 ngày tetsts', 1, CAST(N'2018-12-09T18:05:19.0000000' AS DateTime2))
INSERT [dbo].[hoadon] ([id], [hoten], [sonha], [diachi], [dienthoai], [email], [ghichu], [trangthai], [ngaydat]) VALUES (3, N'Huỳnh Văn Thùy', N'Phường An Mỹ, Thành phố Tam Kỳ, Tỉnh Quảng Nam', N'171 Hùng Vương', N'0977583016', N'huynhvanthuy1997@gmail.com', N'Không có gì', 2, CAST(N'2018-12-10T08:22:02.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[hoadon] OFF
GO
SET IDENTITY_INSERT [dbo].[loaisanpham] ON 

INSERT [dbo].[loaisanpham] ([id], [tenloai]) VALUES (1, N'Tranh thiên nhiên')
INSERT [dbo].[loaisanpham] ([id], [tenloai]) VALUES (2, N'Tranh buôn bán')
INSERT [dbo].[loaisanpham] ([id], [tenloai]) VALUES (3, N'Tranh phố phường')
SET IDENTITY_INSERT [dbo].[loaisanpham] OFF
GO
SET IDENTITY_INSERT [dbo].[sanpham] ON 

INSERT [dbo].[sanpham] ([id], [tensanpham], [mota], [giagoc], [khuyenmai], [anhchinh], [tinhtrang], [luotthich], [id_loaisp]) VALUES (1, N'Tranh đồng Ruộng', N'Tranh đồng ruộng', 20000, 5, N'hinhanh0.jpg', 1, 100, 1)
INSERT [dbo].[sanpham] ([id], [tensanpham], [mota], [giagoc], [khuyenmai], [anhchinh], [tinhtrang], [luotthich], [id_loaisp]) VALUES (2, N'Tranh Con Mèo', N'Tranh con mèo', 20000, 0, N'hinhanh9.jpg', 1, 323, 2)
INSERT [dbo].[sanpham] ([id], [tensanpham], [mota], [giagoc], [khuyenmai], [anhchinh], [tinhtrang], [luotthich], [id_loaisp]) VALUES (3, N'Tranh Con Ngựa', N'tranh con ngựa ', 13000, 2, N'hinhanh11.jpg', 1, 1238, 2)
SET IDENTITY_INSERT [dbo].[sanpham] OFF
GO
SET IDENTITY_INSERT [dbo].[taikhoan] ON 

INSERT [dbo].[taikhoan] ([id], [tentaikhoan], [email], [matkhau], [phanquyen], [tenhienthi], [hinhanh]) VALUES (10, N'admin', N'trongkhang@gmail.com', N'123456', N'1', N'Trọng Khang', N'avata.png')
INSERT [dbo].[taikhoan] ([id], [tentaikhoan], [email], [matkhau], [phanquyen], [tenhienthi], [hinhanh]) VALUES (14, N'hunghihi', N'kidxizaiqb@gmail.com', N'123456', N'0', N'hung', N'avata.png')
INSERT [dbo].[taikhoan] ([id], [tentaikhoan], [email], [matkhau], [phanquyen], [tenhienthi], [hinhanh]) VALUES (17, N'hunghihi2', N'kakalot2@gmail.com', N'123456', N'0', N'hungdaik', N'avata.png')
SET IDENTITY_INSERT [dbo].[taikhoan] OFF
GO
ALTER TABLE [dbo].[chitiethoadon]  WITH CHECK ADD  CONSTRAINT [FK_chitiethoadon_hoadon] FOREIGN KEY([id_hoadon])
REFERENCES [dbo].[hoadon] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chitiethoadon] CHECK CONSTRAINT [FK_chitiethoadon_hoadon]
GO
ALTER TABLE [dbo].[chitiethoadon]  WITH CHECK ADD  CONSTRAINT [FK_chitiethoadon_sanpham] FOREIGN KEY([id_sanpham])
REFERENCES [dbo].[sanpham] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chitiethoadon] CHECK CONSTRAINT [FK_chitiethoadon_sanpham]
GO
ALTER TABLE [dbo].[chitietsanpham]  WITH CHECK ADD  CONSTRAINT [FK_chitietsanpham_sanpham] FOREIGN KEY([id_sanpham])
REFERENCES [dbo].[sanpham] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chitietsanpham] CHECK CONSTRAINT [FK_chitietsanpham_sanpham]
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD  CONSTRAINT [FK_sanpham_loaisanpham] FOREIGN KEY([id_loaisp])
REFERENCES [dbo].[loaisanpham] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sanpham] CHECK CONSTRAINT [FK_sanpham_loaisanpham]
GO
