<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebsiteSellPicture</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Home</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersLoginServlet</display-name>
    <servlet-name>UsersLoginServlet</servlet-name>
    <servlet-class>controller.UsersLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersLoginServlet</servlet-name>
    <url-pattern>/UsersLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersLogoutServlet</display-name>
    <servlet-name>UsersLogoutServlet</servlet-name>
    <servlet-class>controller.UsersLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersLogoutServlet</servlet-name>
    <url-pattern>/UsersLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersRegisterServlet</display-name>
    <servlet-name>UsersRegisterServlet</servlet-name>
    <servlet-class>controller.UsersRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersRegisterServlet</servlet-name>
    <url-pattern>/UsersRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeBillServlet</display-name>
    <servlet-name>HomeBillServlet</servlet-name>
    <servlet-class>controller.HomeBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeBillServlet</servlet-name>
    <url-pattern>/HomeBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeBlogsServlet</display-name>
    <servlet-name>HomeBlogsServlet</servlet-name>
    <servlet-class>controller.HomeBlogsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeBlogsServlet</servlet-name>
    <url-pattern>/HomeBlogsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeCartServlet</display-name>
    <servlet-name>HomeCartServlet</servlet-name>
    <servlet-class>controller.HomeCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeCartServlet</servlet-name>
    <url-pattern>/HomeCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeCheckoutServlet</display-name>
    <servlet-name>HomeCheckoutServlet</servlet-name>
    <servlet-class>controller.HomeCheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeCheckoutServlet</servlet-name>
    <url-pattern>/HomeCheckoutServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>HomeCheckUserCart</display-name>
    <servlet-name>HomeCheckUserCart</servlet-name>
    <servlet-class>controller.HomeCheckUserCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeCheckUserCart</servlet-name>
    <url-pattern>/HomeCheckUserCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeProductsServlet</display-name>
    <servlet-name>HomeProductsServlet</servlet-name>
    <servlet-class>controller.HomeProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeProductsServlet</servlet-name>
    <url-pattern>/HomeProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeUserProfileServlet</display-name>
    <servlet-name>HomeUserProfileServlet</servlet-name>
    <servlet-class>controller.HomeUserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeUserProfileServlet</servlet-name>
    <url-pattern>/HomeUserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminListProducts</display-name>
    <servlet-name>AdminListProducts</servlet-name>
    <servlet-class>controller.AdminListProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListProducts</servlet-name>
    <url-pattern>/AdminListProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProducts</display-name>
    <servlet-name>AdminAddProducts</servlet-name>
    <servlet-class>controller.AdminAddProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProducts</servlet-name>
    <url-pattern>/AdminAddProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditProducts</display-name>
    <servlet-name>AdminEditProducts</servlet-name>
    <servlet-class>controller.AdminEditProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProducts</servlet-name>
    <url-pattern>/AdminEditProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteProducts</display-name>
    <servlet-name>AdminDeleteProducts</servlet-name>
    <servlet-class>controller.AdminDeleteProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteProducts</servlet-name>
    <url-pattern>/AdminDeleteProducts</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AdminListDetailProduct</display-name>
    <servlet-name>AdminListDetailProduct</servlet-name>
    <servlet-class>controller.AdminListDetailProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListDetailProduct</servlet-name>
    <url-pattern>/AdminListDetailProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditDetailProduct</display-name>
    <servlet-name>AdminEditDetailProduct</servlet-name>
    <servlet-class>controller.AdminEditDetailProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditDetailProduct</servlet-name>
    <url-pattern>/AdminEditDetailProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddDetailProduct</display-name>
    <servlet-name>AdminAddDetailProduct</servlet-name>
    <servlet-class>controller.AdminAddDetailProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddDetailProduct</servlet-name>
    <url-pattern>/AdminAddDetailProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteDetailProduct</display-name>
    <servlet-name>AdminDeleteDetailProduct</servlet-name>
    <servlet-class>controller.AdminDeleteDetailProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteDetailProduct</servlet-name>
    <url-pattern>/AdminDeleteDetailProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminListBills</display-name>
    <servlet-name>AdminListBills</servlet-name>
    <servlet-class>controller.AdminListBills</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListBills</servlet-name>
    <url-pattern>/AdminListBills</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminListBillsDetroy</display-name>
    <servlet-name>AdminListBillsDetroy</servlet-name>
    <servlet-class>controller.AdminListBillsDetroy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListBillsDetroy</servlet-name>
    <url-pattern>/AdminListBillsDetroy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminListBillsPayment</display-name>
    <servlet-name>AdminListBillsPayment</servlet-name>
    <servlet-class>controller.AdminListBillsPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListBillsPayment</servlet-name>
    <url-pattern>/AdminListBillsPayment</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>AdminListUser</display-name>
    <servlet-name>AdminListUser</servlet-name>
    <servlet-class>controller.AdminListUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListUser</servlet-name>
    <url-pattern>/AdminListUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteUser</display-name>
    <servlet-name>AdminDeleteUser</servlet-name>
    <servlet-class>controller.AdminDeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteUser</servlet-name>
    <url-pattern>/AdminDeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProfileUser</display-name>
    <servlet-name>AdminProfileUser</servlet-name>
    <servlet-class>controller.AdminProfileUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProfileUser</servlet-name>
    <url-pattern>/AdminProfileUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditDisplayNameUser</display-name>
    <servlet-name>AdminEditDisplayNameUser</servlet-name>
    <servlet-class>controller.AdminEditDisplayNameUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditDisplayNameUser</servlet-name>
    <url-pattern>/AdminEditDisplayNameUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditPasswordUser</display-name>
    <servlet-name>AdminEditPasswordUser</servlet-name>
    <servlet-class>controller.AdminEditPasswordUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditPasswordUser</servlet-name>
    <url-pattern>/AdminEditPasswordUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>controller.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminThongKe</display-name>
    <servlet-name>AdminThongKe</servlet-name>
    <servlet-class>controller.AdminThongKe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminThongKe</servlet-name>
    <url-pattern>/AdminThongKe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteCategory</display-name>
    <servlet-name>AdminDeleteCategory</servlet-name>
    <servlet-class>controller.AdminDeleteCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteCategory</servlet-name>
    <url-pattern>/AdminDeleteCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEditAvata</display-name>
    <servlet-name>UserEditAvata</servlet-name>
    <servlet-class>controller.UserEditAvata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditAvata</servlet-name>
    <url-pattern>/UserEditAvata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeSearchProduct</display-name>
    <servlet-name>HomeSearchProduct</servlet-name>
    <servlet-class>controller.HomeSearchProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeSearchProduct</servlet-name>
    <url-pattern>/HomeSearchProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>controller.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>